body{
    background-image: url('/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
    text-align: center;

    /*here i am aligning the objects in the center of the page*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border: 1px solid hsl(0, 0%, 80%);
    background-color: hsla(0, 0%, 100%, 0.445);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hwb(0 0% 100% / 0.1);
    padding: 20px;
    width: 1000px;
}
.title{
    background-color: rgba(251, 203, 210, 0.829);
    padding: 10px;
    border-radius: 10px;

}
.scholar-text{
    display: flex;
    flex-direction: column;
    margin: 10px;
}